@import 'common.scss';

body {
  background-color: #292A2D;
  color: #E8EAED;

  font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
  color: #F5C823;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: underline;
}

a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.container {
  min-height: 200px;
  min-width: 300px;

  padding: 1rem;

  display: flex;

  flex-direction: column;

  align-items: stretch;
  justify-content: space-between;
}

main {
  margin: 2rem 1rem;
}

.help {
  display: block;
  margin-top: 0.3rem;
  font-size: 0.7em;
  opacity: 0.6;
}

footer {
  display: flex;

  flex-direction: row;

  align-items: center;
  justify-content: space-around;

  font-size: 0.8em;
}
