.card-legality-item > dt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-legality-item > dd.extended {
    background-color: #EFC20E;
}

.card-legality-item > dd.future-banned {
    background-color: #D79167;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 0.6em;
}
